/* ===== CONTENEDOR PRINCIPAL ===== */
.home-container {
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
 
  font-family: "Press Start 2P", monospace;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("/img/degradeNaranja1.PNG");
}
/* ===== LOGO ===== */
.logo-container {
  margin-top: 0px;
  width: 510px;
  height: 810px;
}

.logo {
  width: 100%;
  image-rendering: pixelated;
}

/* ===== MENU ===== */
.menu-container {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ===== BOTONES RETRO PIXEL ART ===== */
.menu-btn {
  text-decoration: none;
  font-family: "Press Start 2P", monospace !important;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 18px 45px;
  background: #f2f2f2;
  border: 4px solid #000;       /* borde externo negro */
  outline: 4px solid #7f7f7f;    /* borde gris estilo GameBoy */
  border-radius: 0;              /* GameBoy es cuadrado */
  color: #000;
  box-shadow: 6px 6px 0 #3a3a3a; /* sombra pixel retro */
  cursor: pointer;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.menu-btn:hover {
  background: #bfbfbf;
  transform: translate(-3px, -3px);
  box-shadow: 9px 9px 0 #3a3a3a;
}
