#loadingSpinner.d-none {
  display: none !important;
  pointer-events: none;
}

#loadingSpinner {
  pointer-events: all;
}

.logros-page {
  background-image: url("/img/degrade-naranja-1.png");
  min-height: 100vh;
  padding-top: 40px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mejores-tiempos {
  background: #96e0c9;
  border: 5px solid #3c3c3c;
  padding: 20px;
  box-shadow: 6px 5px 0px #3c3c3c, 5px 6px 0px #3c3c3c;
}

.icono-reloj img {
  width: 45px;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.tiempo-item {
  background: #fbeac7;
  font-family: "Press Start 2P", monospace;
  font-size: 15px;
  text-align: center;
  padding: 4px;
  margin: 1px 2px;
  border: 3px solid #ad9b46;
  box-shadow: 5px 4px 0px #ad9b46, 4px 5px 0px #ad9b46;
}

.tiempo-item.resaltado {
  background: #F8B07D;
}

.logro-paraje,
.logro-tiempo {
  background: #8bc4af;
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  padding: 8px 15px 20px 10px;
  margin: 0 10px 4px 10px;
  border: 4px solid #3c3c3c;
  box-shadow: 5px 4px 0px #3c3c3c, 4px 5px 0px #3c3c3c;
}

.logro-paraje h3,
.logro-tiempo h3 {
  font-family: "Press Start 2P", monospace;
  font-size: 20px;
  text-align: center;
  color: #3c3c3c;
  margin-top: 1px;
  margin-bottom: 1px;
}
.departamento {
  background: #f5f4c4;
  border: 4px solid #3c3c3c;
  padding: 20px;
  width: 1000px;
  position: relative;
  box-shadow: 5px 4px 0px #3c3c3c, 4px 5px 0px #3c3c3c;
}

.titulo {
  background: #fead85;
  font-family: "Press Start 2P", monospace;
  font-size: 30px;
  text-align: center;
  padding: 5px 10px 1px 20px;
  margin-bottom: 20px;
  color: #3c3c3c;
  border: 5px solid #3c3c3c;
  box-shadow: 5px 4px 0px #3c3c3c, 4px 5px 0px #3c3c3c;
}

.icono-insignia {
  position: relative;
  height: 150px;
  margin-bottom: 10px;
}

.icono-insignia img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
}

.logro-completado {
  position: absolute;
  left: calc(50% + 90px);
  top: 45%;
  transform: translateY(-50%);
  padding: 5px;
  font-family: "Press Start 2P", monospace;
  font-size: 30px;
  text-align: center;
  color: #1f3c21;
  background: #79d88f;
  border: 4px solid #3c3c3c;
  box-shadow: 5px 4px 0px #3c3c3c, 4px 5px 0px #3c3c3c;
}

.logro-completado span {
  display: block;
  line-height: 1.1;
}

.lista-parajes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.paraje-item {
  display: flex;
  align-items: center;
}

.icono-trofeo img {
  width: 50px;
}

.nombre-paraje {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background: #FFF9C4;
  flex-wrap: wrap;
  overflow: hidden;
  word-break: break-word;
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  border: 3px solid #ad9b46;
  box-shadow: 5px 4px 0px #ad9b46, 4px 5px 0px #ad9b46;
}

.flecha {
  position: absolute;
  right: 33px;
  top: 52px;
  transform: translateY(-50%);
}

.flecha img {
  width: 58px;
  display: block;
}

.panel-pixel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 320px;
  max-width: 90%;
  background: #8bc4af;
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  text-align: center;
  border: 4px solid #3c3c3c;
  padding: 20px;
  image-rendering: pixelated;
  box-shadow: 5px 4px 0px #3c3c3c, 4px 5px 0px #3c3c3c;
  margin: 10px auto;
}

.titulo-pixel {
  margin-top: 0;
  background: #fead85;
  font-family: "Press Start 2P", monospace;
  font-size: 20px;
  text-align: center;
  padding: 5px 10px 1px 20px;
  margin-bottom: 10px;
  color: #3c3c3c;
  border: 5px solid #3c3c3c;
  box-shadow: 5px 4px 0px #3c3c3c, 4px 5px 0px #3c3c3c;
}

.dato-item {
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
  word-break: break-word;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FBEAC7;
  border: 3px solid #c6ab51;
  padding: 10px 12px;
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
  margin-bottom: 12px;
  box-shadow: 4px 3px 0px #3c3c3c;
}

.valor-dato {
  font-family: "Press Start 2P", monospace;
}

.foto-perfil-pixel {
  width: 120px;
  height: 120px;
  image-rendering: pixelated;
  border: 4px solid #000;
  box-shadow: 5px 4px 0px #3c3c3c;
}

.btn-pixel {
  background-color: #00c6d9;
  color: #ffffff;
  padding: 16px 22px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;

  border: 3px solid #000;

  /* sombra pixel */
  box-shadow:
    4px 4px 0 #000;

  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
/* ===========================
   HOVER (LEVANTA)
=========================== */
.btn-pixel:hover {
  transform: translate(-2px, -2px);
  box-shadow:
    6px 6px 0 #000;
}

/* .btn-pixel {
  font-family: "Press Start 2P", monospace;
  font-size: 18px;
  padding: 8px 3px 3px;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 5px 4px 0px #3c3c3c, 4px 5px 0px #3c3c3c;
  text-decoration: none;
} */
/* 
.btn-pixel-primary { background: #47adc9;
 }
.btn-pixel-warning { background: #ff7a73; }
.btn-pixel-danger  { background: #FF3B3B; } */

.btn-pixel:active {
  transform: translateY(4px);
  box-shadow: none;
}
.btn-img {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
}

.btn-img img {
  width: 60px;
}
/*responsive*/
@media (max-width: 900px) {
  .contenedor-principal {
    display: flex;
    flex-direction: column; /* Alinea los hijos uno debajo del otro */
    align-items: center;    /* Centra los hijos horizontalmente */
    justify-content: center;
    width: 100%;           /* Asegura que ocupe todo el ancho */
  }

  .mejores-tiempos,
  .departamento {
    width: 90%;
    max-width: 500px;
    /* Reseteamos márgenes para evitar desplazamientos */
    margin-left: auto;
    margin-right: auto;
    float: none; 
    
    /* Si el elemento tiene un position: absolute o fixed previo, 
       asegúrate de que sea relative aquí */
    position: relative; 
    left: 0;
  }

  .lista-parajes {
    grid-template-columns: 1fr;
  }
  
  /* Ajuste adicional para elementos internos que usaban absolute */
  .logro-completado {
    position: relative; /* Cambia a relativo para que fluya en el centro */
    left: 0;
    top: 0;
    transform: none;
    margin: 20px auto;
    width: fit-content;
  }
}

.aviso-invitado {
  max-width: 650px;
  margin: 0 auto;
  padding: 30px;

  background: #f2f2f2;
  border: 4px solid #000;
  outline: 4px solid #7f7f7f;
  box-shadow: 6px 6px 0 #3a3a3a;

  font-family: "Press Start 2P", monospace;
}

.aviso-titulo {
  font-size: 18px;
  margin-bottom: 20px;
}

.aviso-subtitulo {
  font-size: 13px;
  margin-bottom: 18px;
}

.aviso-texto {
  font-size: 12px;
  line-height: 1.8;
}

